html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
    }

html, body {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    background-color: #F9F9F9;
    height: fit-content;
    width:fit-content;
  }

  .full-container
  {
    display: grid;
  }

  .header_container
  {
    display: grid;
    padding: 7% 20% 7% 5%;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 9999;
    width: 100%; 
    background-color: #FFFFFF;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 10px -10px #000000;
    -moz-box-shadow: 0 3px 10px -10px #000000;
    box-shadow: 0 3px 10px -10px #000000;
    grid-template-columns: max-content max-content max-content max-content;
  }

   .logo_container{ 
    display: grid;
    grid-column: 1 / 1 ;
    font-family: 'Poppins', sans-serif;
    font-size: 0px;
    font-weight: 900 !important;
    color: #2D2E32 ;
    display: none;
   }
  

  .header_container a{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 170%;
    bottom: 0px;
    color: #2D2E32 ;
    text-align: center;
    text-decoration: none;
    font-size: 150%;
  }

  .header_container a:hover{
        color: rgb(255, 72, 17);
        transition-duration: 0.3s;
      }
  

  .nav_home_container{
    grid-column: 1/1 ;
  }
  .nav_about_me_container{
    grid-column: 2/2 ;
    padding-left: 30px;
  }
  .nav_projects_container{
    grid-column: 3/3;
    padding-left: 30px;
  }
  .nav_contact_container{
    grid-column: 4/4 ;
    padding-left: 30px;
  }

  .main_container{
    display: grid;
    grid-template-rows:  auto auto;
    padding-top: 30%;
  }

  .main_content_container{
    grid-row: 2/2;
    text-align: center;
  }

  .pfp_container{
    grid-row: 1/1;
    text-align: center;
  }

  .pfp_img_container{
    height: 90%;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  .heading_container{
    padding-top: 0%;
    font-size: 400%;
    font-family: 'Montserrat', sans-serif;
    color: #2D2E32 ;
    line-height: 100%;
    margin-bottom: 4%;
  }

  .intro_container{
    font-size: 130%;
    line-height: 125%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #777777 ;
    padding: 0px 1% 0px 1%;
  }

  .tech_stack_container{
    color: #2D2E32 ;
    font-size: 170%;
    font-family: 'Montserrat';
    margin-bottom: 5%;
  }

  .tech_stack_heading_container{
    margin: 0px 0px 0px 0px;
    padding: 3% 0px 0px 0px;
  }

  .skill_pic_container :hover{
    opacity: 0.7;
    transition-duration: 0.4s;
  }

  #skill_pic{
    width: 17%;
    height: 17%;
    margin-bottom: 10%;
  }

  .about_me_container{
    display: grid;
    background-color: #FFFFFF;
    text-align: center;
    justify-content: center;
    -webkit-box-shadow: 0 3px 10px -10px #000000;
   -moz-box-shadow: 0 3px 10px -10px #000000;
    box-shadow: 0 3px 10px -10px #000000;
    -webkit-box-shadow: 0 -3px 10px -10px #000000;
    -moz-box-shadow: 0 -3px 10px -10px #000000;
    box-shadow: 0 -3px 10px -10px #000000;
    grid-template-rows: auto auto;
    padding-left:8% ;
    padding-right:8% ;
  }

  .about_me_pic_container{
    grid-row:1/1;
    text-align: center;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    margin: 40% 0px 0px 0px;
    height: 280px;
    width: 100%;
  }

  .about_me_picture-container{
    border-radius: 1.7rem;
    box-shadow: rgba(5, 5, 5, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .about_me_content_container{
    grid-row:2/2;
    text-align: center;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

  .about_me_heading_container{
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 72, 17);
    padding: 0px 0px 0px 0px;
    margin: 8% 0px 0px 0px;
    font-size: 150%;
  }

  .about_me_intro_container{
    color: #2D2E32 ;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    padding: 0px 0px 0px 0px;
    margin: 5% 0px 30% 0px;
    font-size: larger;
  }

  .projects_container{
    display: grid;
    -webkit-box-shadow: 0 -3px 10px -10px #000000;
    -moz-box-shadow: 0 -3px 10px -10px #000000;
    box-shadow: 0 -3px 10px -10px #000000;

  }

  .projects_heading_container{
    margin-top: 30%;
    padding: 0px 0px 0px 8%;
    font-family: 'Montserrat', sans-serif;
    color: #2D2E32;
    font-size: 220% ;
    height: 120dvh;
  }

  .contact_container{
    display: grid;
    background-color: #FFFFFF;
    box-shadow: 0px 155px 71px -189px rgba(0,0,0,0.45), 0px -13px 20px -16px rgba(0,0,0,0.45);
  }

  .contact_heading_container{
    margin: 100px 400px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 72, 17);
    font-size: 25px ;
    width: 100%;
    padding-left: 8%;
  }

  .contact_content_container{
    margin: 0px 400px 0px 00px;
    padding-top: 10px;
    padding-left: 8%;
    font-family: 'Poppins', sans-serif;
    color: #2D2E32;
    font-size: 20px ;
    height: fit-content;
    width: 100%;
  }

.icons_container{
    margin : 5% 400px 0px 0px;
    height: 120px;
    width: 100%;
    padding-left: 8%;

}

  i.fab.fa-github::before{
    margin: 0px 0px 0px 0px;
  }
  i.fab.fa-linkedin::before{
    margin: 0px 0px 0px 80%;
  }
  i.fa.fa-envelope::before{
    margin: 0px 0px 0px 160%;
  }

  a:link, i {
    color: #2D2E32 ;
    text-decoration:none;
  }
  a:visited, i{
    color: #2D2E32 ;
  }

  .contact_container i:hover{
    transform: scale(1.1); 
    transition-duration: 0.3s;
  }

  .footer_container{
    box-shadow: 0px 155px 71px -189px rgba(0,0,0,0.45), 0px -13px 20px -16px rgba(0,0,0,0.45);
    height: 160px;
    background-color: #2D2E32;
    padding: 8% 0 0 8%;
  }

  .copyright_container
  {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 120%;
    font-weight: 900;
  }



  @media only screen and (min-width: 412px) {
    .header_container{
      padding: 4% 20% 4% 5%;
    }

    .main_container{
      padding-top: 20%;
    }

    .pfp_container{
      height: 400px;
    }
  
    .pfp_img_container{
      width: 400px;
    }
    .heading_container{
      margin-top: 4%;
    }
    .about_me_intro_container{
      line-height: 117%;
      font-size: x-large;
    }

    .about_me_intro_container{
      margin: 5% 0px 25% 0px;
    }

    .about_me_heading_container{
      font-size: 165%;
    }

    .tech_stack_heading_container{
      padding: 8% 0px 0px 0px;
    }

    .intro_container{
      font-size: 150%;
    }

    .about_me_pic_container{
      height: 370px;
      margin-top: 30%;
    }

    .projects_heading_container{
      margin-top: 20%;
  }

  .contact_heading_container{
    font-size: 225% ;
  }
  .contact_content_container{
    font-size: 145% ;
  }

  .footer_container{
    padding: 10% 0 20% 8%;
  }

  .copyright_container
  {
    font-size: 140%;
  }
}




  @media only screen and (min-width: 819px) {
    .header_container{
      padding: 4% 20% 4% 5%;
    }

    .main_container{
      padding-top: 25%;
    }

    .pfp_container{
      height: 450px;
    }
  
    .pfp_img_container{
      width: 450px;
    }
    .heading_container{
      margin-top: 4%;
    }
    .about_me_intro_container{
      line-height: 160%;
      font-size: x-large;
      margin-bottom: 30% ;
    }

    .about_me_heading_container{
      font-size: 200%;
    }

    .tech_stack_heading_container{
      padding: 8% 0px 0px 0px;
    }

    .intro_container{
      font-size: 150%;
    }

    .header_container a{
      font-size: 190%;
    }

    .about_me_pic_container{
      height: 370px;
      margin-top: 35%;
    }
    .projects_heading_container{
      margin-top: 25%;
  }

  .contact_heading_container{
    font-size: 225% ;
  }

  .contact_content_container{
    font-size: 145% ;
  }

  .footer_container{
    padding: 10% 0 20% 8%;
  }

  .copyright_container
  {
    font-size: 140%;
  }
  }
  


  @media only screen and (min-width: 1023px) {

    html {
      box-sizing: border-box;
    }
  
    *, *:before, *:after {
      box-sizing: inherit;
    }
  
  html, body {
      margin: 0;
      scroll-behavior: smooth;
      padding: 0;
      background-color: #F9F9F9;
      height: fit-content;
      width:fit-content;
    }
  
    .full-container
    {
      display: grid;
    }
  
    .header_container
    {
      display: grid;
      padding: 2% 5% 2% 3%;
      position: fixed;
      top: 0; 
      left: 0; 
      z-index: 9999;
      width: 100%; 
      background-color: #FFFFFF;
      overflow: hidden;
      -webkit-box-shadow: 0 3px 10px -10px #000000;
      -moz-box-shadow: 0 3px 10px -10px #000000;
      box-shadow: 0 3px 10px -10px #000000;
      grid-template-columns: auto max-content max-content max-content max-content;
    }
  
    .logo_container{ 
      display: grid;
      grid-column: 1 / 1 ;
      font-family: 'Poppins', sans-serif;
      font-size: 130%;
      font-weight: 900 !important;
      color: #2D2E32 ;
    }
  
    .header_container a{
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      line-height: 170%;
      bottom: 0px;
      color: #2D2E32 ;
      text-align: center;
      text-decoration: none;
      font-size: 100%;
    }
  
    .header_container a:hover{
          color: rgb(255, 72, 17);
          transition-duration: 0.3s;
        }
    
  
    .nav_home_container{
      grid-column: 2/2 ;
    }
    .nav_about_me_container{
      grid-column: 3/3 ;
      padding-left: 30px;
    }
    .nav_projects_container{
      grid-column: 4/4;
      padding-left: 30px;
    }
    .nav_contact_container{
      grid-column: 5/5;
      padding-left: 30px;
    }
  
    .main_container{
      display: grid;
      grid-template-columns:auto auto;
      grid-template-rows: auto;
      padding-top: 13%;
      height: 100vh;
      margin: 0 15% 0 15%;
    }
  
    .main_content_container{
      grid-column: 1/2;
      grid-row: 1;
      text-align: left;
      width: 90%;
    }
  
    .pfp_container{
      grid-column: 2/2;
      grid-row: 1;
      text-align: center;
    }
  
    .pfp_img_container{
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      height: 75%;
      width: 115%;
      float: left;
    }
  
    .heading_container{
      padding-top: 0%;
      font-size: 380%;
      font-family: 'Montserrat', sans-serif;
      color: #2D2E32 ;
      line-height: 100%;
      margin-bottom: 4%;
    }
  
    .intro_container{
      font-size: 120%;
      line-height: 125%;
      text-align: left;
      font-family: 'Montserrat', sans-serif;
      color: #777777 ;
      padding: 0px 0% 0px 1%;
    }
  
    .tech_stack_container{
      color: #2D2E32 ;
      font-size: 120%;
      font-family: 'Montserrat';
      margin-bottom: 5%;
      text-align: center;
      justify-content: center;
      padding-top: 5%;
      padding-right: 45%;
    }

    .css_container{
      margin: 0 8% 0 8% ;
    }
  
    .tech_stack_heading_container{
      margin: 0px 0px 0px 0px;
      padding: 3% 0% 0px 0px;
    }
  
    .skill_pic_container{
      justify-content: space-evenly;
    }

    .skill_pic_container :hover{
      opacity: 0.7;
      transition-duration: 0.4s;
    }
  
    #skill_pic{
      width: 17%;
      height: 17%;
      margin-bottom: 10%;
      margin-top: 1%;
    }
  
    .about_me_container{
      display: grid;
      background-color: #FFFFFF;
      -webkit-box-shadow: 0 3px 10px -10px #000000;
     -moz-box-shadow: 0 3px 10px -10px #000000;
      box-shadow: 0 3px 10px -10px #000000;
      -webkit-box-shadow: 0 -3px 10px -10px #000000;
      -moz-box-shadow: 0 -3px 10px -10px #000000;
      box-shadow: 0 -3px 10px -10px #000000;
      grid-template-rows: auto;
      grid-template-columns: auto auto auto;
      height: 100vh;
      padding-top: 6%;
      padding-left: 12%;
      justify-content: center;
      align-items: center;
    }
  
    .about_me_pic_container{
      grid-row:1/1;
      grid-column: 2/3;
      text-align: center;
      justify-content: center;
      padding: 0px 0px 0px 0px;
      margin: 0% 190px 0px 0px;
      width: 100%;
    }
  
    .about_me_picture-container{
      border-radius: 1.7rem;
      box-shadow: rgba(5, 5, 5, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      padding: 0px 0px 0px 0px;
      margin: 0px 0 0px 0px;
      text-align: center;
      justify-content: center;
    }
  
    .about_me_content_container{
      grid-row:1/1;
      grid-column: 3/3;
      padding: 0% 4% 0 15%;
      margin: 0px 0px 0px 0px;
    }
  
    .about_me_heading_container{
      text-align: center;
      justify-content: center;
      font-family: 'Montserrat', sans-serif;
      color: rgb(255, 72, 17);
      padding: 20% 0px 0px 0px;
      margin: 8% 0px 0px 0px;
      font-size: 120%;
    }
  
    .about_me_intro_container{
      color: #2D2E32 ;
      font-family: 'Poppins', sans-serif;
      font-size: 100%;
      text-align: left;
    }
  
    .projects_container{
      display: grid;
      -webkit-box-shadow: 0 -3px 10px -10px #000000;
      -moz-box-shadow: 0 -3px 10px -10px #000000;
      box-shadow: 0 -3px 10px -10px #000000;
      height: 100vh;
    }
  
    .projects_heading_container{
      margin-top: 10%;
      padding: 0px 0px 0px 8%;
      font-family: 'Montserrat', sans-serif;
      color: #2D2E32;
      font-size: 220% ;
    }

    .fourth_page_container{
      height: 100vh;
      align-items: center;
    }
  
    .contact_container{
      display: grid;
      padding-top: 8%;
      background-color: #FFFFFF;
      box-shadow: 0px 155px 71px -189px rgba(0,0,0,0.45), 0px -13px 20px -16px rgba(0,0,0,0.45);
      height: 65%;
    }
  
    .contact_heading_container{
      margin: 100px 400px 0px 0px;
      font-family: 'Montserrat', sans-serif;
      color: rgb(255, 72, 17);
      font-size: 25px ;
      width: 100%;
      padding-left: 8%;
    }
  
    .contact_content_container{
      margin: 0px 400px 0px 00px;
      padding-top: 10px;
      padding-left: 8%;
      font-family: 'Poppins', sans-serif;
      color: #2D2E32;
      font-size: 20px ;
      height: fit-content;
      width: 100%;
    }
  
  .icons_container{
      margin : 5% 400px 0px 0px;
      height: 120px;
      width: 100%;
      padding-left: 8%;
  
  }
  
    i.fab.fa-github::before{
      margin: 0px 0px 0px 0px;
    }
    i.fab.fa-linkedin::before{
      margin: 0px 0px 0px 80%;
    }
    i.fa.fa-envelope::before{
      margin: 0px 0px 0px 160%;
    }
  
    a:link, i {
      color: #2D2E32 ;
      text-decoration:none;
    }
    a:visited, i{
      color: #2D2E32 ;
    }
  
    .contact_container i:hover{
      transform: scale(1.1); 
      transition-duration: 0.3s;
    }
  
    .footer_container{
      box-shadow: 0px 155px 71px -189px rgba(0,0,0,0.45), 0px -13px 20px -16px rgba(0,0,0,0.45);
      height: 35%;
      background-color: #2D2E32;
      padding: 5% 0 0 8%;
      align-items: center;
      justify-content: center;
    }
  
    .copyright_container
    {
      color: #FFFFFF;
      font-family: 'Poppins', sans-serif;
      font-size: 120%;
      font-weight: 900;
      align-items: center;
      justify-content: center;
    }
  }